@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.about {
    position: relative;
    padding: 60px 20px;
    background: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    max-width: 1100px;
    margin: auto;
    margin-top: 70px;
     margin-bottom: 70px;
    /* ye shadow full section ko dega */
    box-shadow: 0 -6px 20px rgba(0,0,0,0.08), 0 6px 20px rgba(0,0,0,0.08);
    border-radius: 20px;
    padding: 30px;
    background: #fff; /* taki shadow clear dikh sake */
}

/* LEFT SIDE IMAGE */
.about-left {
    position: relative;
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;   /* niche white extra shadow cut hoga */
    flex-shrink: 0;

    /* shadow jo image box par lagega */
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.about-main-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

/* RIGHT SIDE CONTENT */
.about-right {
    max-width: 500px;
    color: #374151;
}
.about-right h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: #1e293b;
}

.about-right .line {
    width: 100px;
    height: 3px;
    background: linear-gradient(to right, #7BB35C, #c6ffbc);
    border-radius: 5px;
    margin: 8px 0 20px 0;
}

.about-right p {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.6;
    color: #4b5563;
}

.about-btn {
    margin-top: 20px;
    padding: 12px 30px;
    background: linear-gradient(to right, #7BB35C, #8A7DFF);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

.about-btn:hover {
    transform: translateY(-3px);
}



/* Tablet */
@media (max-width: 768px) {
    .about-wrapper {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .about-left {
        max-width: 100%;
    }

    .about-right {
        max-width: 100%;
    }

    .about-right h1 {
        font-size: 22px;
        text-align: left;
    }

    .about-right p {
        font-size: 14px;
        text-align: left;
    }

    .about-btn {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .about-wrapper {
        gap: 20px;
        padding: 15px;
    }

    .about-left {
        max-width: 100%;
    }

    .about-main-img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

    .about-right h1 {
        font-size: 18px;
    }

    .about-right p {
        font-size: 13px;
        line-height: 1.4;
    }

    .about-btn {
        padding: 10px 20px;
        font-size: 13px;
    }
}
