.about {
    position: relative;
    padding: 60px 20px;
    background: #f7f6f6;
    text-align: center;
}

/* Top Section */
.about-top .small-heading {
    font-size: 13px;
    color: #6b7280;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-top .main-heading {
    font-size: 40px;
    font-weight: 600;
    color: #484848;
    margin-bottom: 40px;
}

/* Wrapper Section */
.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1580px;
    margin: auto;
    margin-bottom: 60px;
}

.about-left {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.about-main-img {
    height: 500px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.about-right {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    text-align: left;
}

.about-right h2 {
    font-size: 30px;
    font-weight: 600;
    color: #1e293b;
    margin-bottom: 20px;
    font-weight: 700;
}

.about-right p {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.7;
    color: #4b5563;
}

.about-btn {
    margin-top: 15px;
    padding: 12px 30px;
    background: linear-gradient(to right, #7BB35C, #8A7DFF);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.about-btn:hover {
    transform: translateY(-3px);
}

/* Stats Section */
.about-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 100px;
    max-width: 1200px;
    margin: auto;
}

.stat-card {
    background: #f9fafb;
    padding: 35px 25px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.stat-icon {
    margin-bottom: 20px;
    color: #717171;
    display: flex;
    justify-content: center;
}

.stat-card h2 {
    font-size: 35px;
    /* Number thoda bada */
    font-weight: 700;
    color: #1e293b;
}

.stat-card p {
    margin-top: 10px;
    font-size: 16px;
    /* Label thoda bada */
    font-weight: 500;
    color: #6b7280;
}


/* Responsive */
@media (max-width: 768px) {

    .about-right {
        text-align: center;
    }
    .about-right p {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.7;
    color: #4b5563;
}
}

/* Responsive */
@media (max-width: 320px) {
    .about-main-img {
        height: 350px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
}