.export-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  color: white;
}

.export-bg {
  background: url("/img/EXBG2.jpg") center/cover no-repeat;
  position: absolute;
  inset: 0;
  z-index: -2;
}

.overlay {
  background: rgba(0, 0, 0, 0.742);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.export-text {
  max-width: 800px;
  padding: 20px;
}

.export-text h2 {
  font-size: 4rem;
  margin-bottom: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.export-text p {
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: 400;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

/* ✅ Responsive */
@media (max-width: 768px) {
  .export-section {
    align-items: flex-end;
    padding-bottom: 80px;
    /* mobile पर थोड़ा कम space */
  }

  .export-text h2 {
    font-size: 2.5rem;
  }

  .export-text p {
    font-size: 1.1rem;
  }
}